# Backend Configuration
PORT=5000
NODE_ENV=production
ALERTMANAGER_URL=http://alertmanager:9093

# Automation Configuration
BACKEND_URL=http://backend:5000
CPU_THRESHOLD=80
MEMORY_THRESHOLD=80
DISK_THRESHOLD=90
LOG_RETENTION_DAYS=7
CHECK_INTERVAL=30

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
